.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;

    @media (max-width:768px) {
        flex-direction: column;
        align-items: center;
    }
}

.licence {
    text-align: end;
    font-family: 'TT Lakes-Medium';
    color: #7E7E82;
    font-size: 14px;
    margin-bottom: 20px;

    &:first-child {
        text-align: start;
    }

    &:last-child {
        @media (max-width: 900px) {
            width: 35%;
            height: 40px;
        }
    }

    @media (max-width:768px) {
        &.licence--pos {
            width: 75%;
            text-align: center;
        }
    }
}