@import '../components/var/var';
@import '../components/mixin/resetMarginH1';
@import '../components/mixin/flex';
@import '../components/pieces/icon';
@import '../components/mixin/marginIcon';
@import './header';
@import './exposition';
@import './byBrend';
@import './bySoft';
@import './byPrice';
@import './byPriceOwn';
@import './footer';
@import './menu';
@import './modalFeedback';

@font-face {
    font-family: 'TT Lakes-Bold';
    src: url(../../font/TTLakes-Bold.ttf);
}

@font-face {
    font-family: 'TT Lakes-Normal';
    src: url(../../font/TTLakes-Regular.ttf);
}

@font-face {
    font-family: 'TT Lakes-Medium';
    src: url(../../font/TTLakes-Medium.ttf);
}

body {
    margin: 0;
    background-color: #f8f8f8;
    display: flex;
}

.wrapper-right-main {
    width: 100vw;
}

.wrapper-right-modal {
    width: 512px;
    display: flex;
    position: fixed;
    left: 100%;
    transform: translate(0px);
    transition: transform 1.5s;
}