.icon--decor {
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 30px;
  border: 0;
}

.soft-item .soft-item__wrapper .icon--arrow, .brend-item .brend-item__wrapper .icon--arrow {
  width: 40px;
  height: 40px;
  background-color: inherit;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FF3E79;
}

.icon-setting {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.258 13.458.409-.409-1.717-1.717-.409.41-.204-.205c-.327-.368-.654-.573-.981-.532-.246 0-.45.164-.613.409-.246.409-.123.859-.082 1.145 0 .082.04.123.04.204 0 .123 0 .286-.285.327-.41.123-.94.246-1.472.532-.736.409-1.226.777-1.512 1.145C-.081 16.729 0 18.406 0 18.487c0 .123.04.205.122.246l1.104 1.144c.082.082.164.123.245.123h.123c.409 0 1.88-.082 3.597-1.431.368-.286.736-.777 1.145-1.513.286-.49.45-1.022.531-1.472.082-.286.205-.286.327-.286.041 0 .123.041.205.041.163.04.327.082.531.082.204 0 .409-.041.613-.164.245-.163.409-.368.45-.613.04-.327-.123-.654-.49-.94l-.246-.246ZM16.884 4.878l1.135-.552c.042-.042.126-.085.168-.127l1.723-2.337c.126-.17.126-.425-.042-.553L18.691.12c-.126-.127-.378-.17-.546-.042l-2.312 1.742a.588.588 0 0 0-.126.17l-.546 1.147L11 7.216 12.765 9l4.119-4.122Z' fill='%23fff'/%3E%3Cpath d='M17.853 13.045c-.99-1.041-2.414-1.416-3.759-1.041l-6.449-6.83c.08-.376.119-.709.119-1.084a4.184 4.184 0 0 0-1.147-2.873 3.696 3.696 0 0 0-3.996-1 .542.542 0 0 0-.238.333c0 .125.04.25.119.375l1.939 2.041c.435.458.435 1.25 0 1.708a1.129 1.129 0 0 1-1.622 0L.879 2.633c-.118-.084-.236-.125-.395-.084-.118 0-.237.125-.277.25-.474 1.458-.118 3.082.91 4.165.712.791 1.741 1.208 2.77 1.208.316 0 .672-.042.989-.125l6.488 6.83a4.339 4.339 0 0 0 .99 3.957A3.668 3.668 0 0 0 15.083 20c.434 0 .83-.083 1.265-.208a.491.491 0 0 0 .277-.292.346.346 0 0 0-.119-.375l-1.938-2.04a1.332 1.332 0 0 1-.356-.875c0-.333.119-.625.356-.875s.514-.374.83-.374c.317 0 .594.124.832.374l1.938 2.041a.617.617 0 0 0 .356.125c.119-.042.238-.125.277-.25A4.92 4.92 0 0 0 19 15.918c0-1.082-.396-2.124-1.147-2.873Z' fill='%23fff'/%3E%3C/svg%3E");
}
.icon-search {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 11a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v17.5a1.5 1.5 0 0 0-1.5 1.5h-1a1.5 1.5 0 0 0-3 0h-1a1.5 1.5 0 0 0-3 0h-1a1.5 1.5 0 0 0-3 0h-1a1.5 1.5 0 0 0-1.5-1.5V11Zm9.416 10.788a4.236 4.236 0 0 1-3.086.595c-1.803-.336-3.24-1.85-3.47-3.672a4.318 4.318 0 0 1 4.994-4.83c1.802.287 3.25 1.763 3.547 3.555a4.247 4.247 0 0 1-.614 2.991l2.109 2.1a.97.97 0 0 1-1.37 1.37l-2.11-2.109Zm-4.71-3.73a2.354 2.354 0 1 1 4.707.002 2.354 2.354 0 0 1-4.707-.001Z' fill='%23fff'/%3E%3C/svg%3E");
}
.icon-burger {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='40' height='40' rx='20' fill='%23FF3E79'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 13a1 1 0 0 1 1-1h16a1 1 0 1 1 0 2H12a1 1 0 0 1-1-1Zm0 7a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2h-8a1 1 0 0 1-1-1Zm1 6a1 1 0 1 0 0 2h12a1 1 0 1 0 0-2H12Z' fill='%23fff'/%3e%3c/svg%3e");
}
.icon-call {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m12.76 23.25 2.54-.29c.61-.07 1.21.14 1.64.57l1.84 1.84c2.83-1.44 5.15-3.75 6.59-6.59l-1.85-1.85a1.99 1.99 0 0 1-.57-1.64l.29-2.52c.12-1.01.97-1.77 1.99-1.77h1.73c1.13 0 2.07.94 2 2.07-.53 8.54-7.36 15.36-15.89 15.89-1.13.07-2.07-.87-2.07-2v-1.73c-.01-1.01.75-1.86 1.76-1.98Z' fill='%23fff'/%3E%3C/svg%3E");
}
.icon-chat {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 11H12c-1.1 0-1.99.9-1.99 2L10 31l4-5h14c1.1 0 2-.9 2-2V13c0-1.1-.9-2-2-2Zm-7 11h-6c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1Zm4-5H15c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1Z' fill='%23fff'/%3E%3Cmask id='a' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='10' y='11' width='20' height='20'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 11H12c-1.1 0-1.99.9-1.99 2L10 31l4-5h14c1.1 0 2-.9 2-2V13c0-1.1-.9-2-2-2Zm-7 11h-6c-.55 0-1-.45-1-1s.45-1 1-1h6c.55 0 1 .45 1 1s-.45 1-1 1Zm4-5H15c-.55 0-1-.45-1-1s.45-1 1-1h10c.55 0 1 .45 1 1s-.45 1-1 1Z' fill='%23fff'/%3E%3C/mask%3E%3C/svg%3E");
}
.icon-profile {
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath d='M20.5 19a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM10.017 26.612c-.13.73.518 1.388 1.322 1.388H28.66c.83 0 1.453-.659 1.323-1.388C29.23 22.4 25.056 20 20 20c-5.057 0-9.231 2.4-9.983 6.612Z' fill='%23fff'/%3E%3C/svg%3E");
}
.icon-burger-cancel {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.793 1.257a1 1 0 0 0-1.414 0l-.122.122a1 1 0 0 0 0 1.414L7.464 9l-6.207 6.207a1 1 0 0 0 0 1.414l.122.122a1 1 0 0 0 1.414 0L9 10.536l6.207 6.207a1 1 0 0 0 1.414 0l.122-.122a1 1 0 0 0 0-1.414L10.536 9l6.207-6.207a1 1 0 0 0 0-1.414l-.122-.122a1 1 0 0 0-1.414 0L9 7.464 2.793 1.257Z' fill='%23fff'/%3E%3C/svg%3E");
}
.icon-search-menu {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 11h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34A6.505 6.505 0 0 0 .05 7.32c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.26 4.25c.41.41 1.07.41 1.48 0l.01-.01c.41-.41.41-1.07 0-1.48L12.5 11Zm-6 0C4.01 11 2 8.99 2 6.5S4.01 2 6.5 2 11 4.01 11 6.5 8.99 11 6.5 11Z' fill='%23fff'/%3E%3C/svg%3E");
}
.icon-arrow {
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 6 .707 2.207a1 1 0 0 1 0-1.414L.793.707a1 1 0 0 1 1.414 0l4.586 4.586a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-.086-.086a1 1 0 0 1 0-1.414L4.5 6Z' fill='%23FF3E79'/%3E%3C/svg%3E");
}

.header {
  display: flex;
  height: 88px;
}
@media (min-width: 1439.98px) {
  .header {
    display: none;
  }
}
.header header:first-child {
  width: calc(50% - 69px);
  display: flex;
  justify-content: left;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header header:first-child {
    width: 57vw;
  }
  .header header:first-child hr {
    display: none;
  }
}
.header header:nth-child(2) {
  width: calc(50% - 69px);
  display: flex;
  justify-content: right;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header header:nth-child(2) {
    display: none;
    justify-content: right;
    align-items: center;
  }
}
.header header:nth-child(3) {
  width: 138px;
  display: flex;
  justify-content: right;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header header:nth-child(3) {
    width: 43vw;
  }
}
.header header .decorative-imitation-separator {
  height: 31px;
  border-bottom: 0;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  opacity: 0.3;
  z-index: 0.5;
  margin: 0 8px 0 8px;
}

.logo-CPS {
  margin: 0 8px 0 8px;
}

.icon--decor {
  margin: 0 8px 0 8px;
}
.icon--decor.margin--left {
  margin-left: 16px;
}
.icon--decor.margin--right {
  margin-right: 16px;
}

.exposition__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1439.98px) {
  .exposition__header {
    margin-top: 18px;
    margin-right: 22px;
  }
}

.exposition__menu {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 24px;
  font-family: "TT Lakes-Medium";
  font-size: 16px;
}
@media (max-width: 1439.98px) {
  .exposition__menu {
    display: none;
    justify-content: right;
    align-items: center;
  }
}

.reset-margin--h1 {
  margin: 0;
}

.is-header:before {
  content: "";
  width: 4px;
  height: 1.4em;
  align-self: center;
  margin-right: 12px;
  background-color: #41F6D7;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
@media (min-width: 1439.98px) {
  .is-header:before {
    margin-right: 30px;
  }
}

.is-header {
  display: flex;
  font-family: "TT Lakes-Bold";
  font-weight: normal;
  font-size: 28px;
  margin-top: 24px;
}

.block-icon {
  display: flex;
  justify-content: left;
  align-items: center;
}
.block-icon p {
  margin: 0 8px 0 8px;
  margin-left: 22px;
}

.exposition__navigation {
  overflow-x: scroll;
  margin-right: 16px;
}

.exposition__group-items {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (min-width: 1100px) {
  .exposition__group-items {
    width: auto;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
}

.exposition__wrapper-item {
  height: 40px;
  margin-left: 16px;
  list-style-type: none;
}

.exposition--item {
  border: #41F6D7 solid 1px;
  border-radius: 5px;
  height: 38px;
}

.exposition__item {
  display: block;
  margin: 8px 0.5em 8px 0.5em;
  height: 22px;
  font-family: "TT Lakes-Medium";
  font-size: 16px;
  color: #7E7E82;
}

.exposition--height-text {
  margin: 7px 0.5em 7px 0.5em;
}

.exposition__content {
  font-size: 14px;
  font-family: "TT Lakes-Normal";
  margin-top: 16px;
}
@media (min-width: 768px) {
  .exposition__content {
    display: flex;
  }
  .exposition__content .exposition__wrapper {
    width: 50%;
  }
}
@media (min-width: 1439.98px) {
  .exposition__content {
    margin-top: 0;
  }
}

.exposition__description {
  margin-left: 16px;
  margin-right: 16px;
  letter-spacing: 0.2px;
}

.exposition--button-full-discription {
  margin: 16px 16px 0 16px;
}

.button--full-discription {
  height: 30px;
  display: flex;
  align-items: center;
  border: 0;
  background-color: inherit;
  padding: 0;
  font-size: 16px;
  font-family: "TT Lakes-Medium";
}
.button--full-discription:before {
  content: "";
  width: 32px;
  height: 16px;
  font-size: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5.5 4 3 1.5.5a.707.707 0 0 0-1 1l2.793 2.793a1 1 0 0 0 1.414 0L7.5 1.5a.707.707 0 0 0-1-1Zm0 6L4 9 1.5 6.5a.707.707 0 1 0-1 1l2.793 2.793a1 1 0 0 0 1.414 0L7.5 7.5a.707.707 0 0 0-1-1Z' fill='%2341F6D7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.exposition__discription--part-two {
  display: none;
  justify-content: right;
  align-items: center;
}
@media (min-width: 768px) {
  .exposition__discription--part-two {
    display: inline;
  }
}

.exposition__discription--part-three {
  display: none;
  justify-content: right;
  align-items: center;
}
@media (min-width: 1440px) {
  .exposition__discription--part-three {
    display: inline;
  }
}

.exposition__discription--part-four {
  display: none;
}

.exposition__signboard {
  margin: 16px 0 0 0;
}
@media (min-width: 768px) {
  .exposition__signboard {
    margin: 0 16px 0 16px;
  }
}

.signboard {
  width: 100%;
  height: inherit;
}

.by-brend {
  margin-top: 32px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .by-brend {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.by-brend__header {
  font-family: "TT Lakes-Normal";
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #7E7E82;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .by-brend__header {
    margin-bottom: 40px;
  }
}

.by-brend__list {
  padding-left: 0;
  margin: 0 16px 0 0;
  list-style-type: none;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1440px) {
  .by-brend__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1584px) {
  .by-brend__list {
    justify-content: left;
  }
}

.brend-item {
  width: 232px;
  height: 72px;
  margin-left: 16px;
  margin-bottom: 16px;
  border: 0.2px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1336px) {
  .brend-item:nth-child(7) {
    display: flex;
  }
  .brend-item:nth-child(8) {
    display: flex;
  }
}
.brend-item .brend-item__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brend-item .brend-item__wrapper img {
  margin-left: 16px;
}
.brend-item .brend-item__wrapper .icon--arrow {
  margin-right: 16px;
}

.brend--button-full-discription {
  margin: 16px 16px 0 16px;
}

.hidden--768 {
  display: none;
}
@media (min-width: 1584px) {
  .hidden--768 {
    display: flex;
  }
}

.hidden--1440 {
  display: none;
}

.by-soft {
  margin-top: 32px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .by-soft {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.by-soft__header {
  font-family: "TT Lakes-Normal";
  font-size: 16px;
  text-transform: uppercase;
  color: #7E7E82;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .by-soft__header {
    margin-bottom: 40px;
  }
}

.by-soft__list {
  padding-left: 0;
  margin: 0 16px 0 0;
  list-style-type: none;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1440px) {
  .by-soft__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1584px) {
  .by-soft__list {
    justify-content: left;
  }
}

.soft-item {
  width: 232px;
  height: 160px;
  margin-left: 16px;
  margin-bottom: 16px;
  border: 0.2px solid rgba(128, 128, 128, 0.2);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soft-item .soft-item__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.soft-item .soft-item__wrapper .icon--arrow {
  margin-right: 16px;
}
@media (max-width: 1339.98px) {
  .soft-item:nth-child(4) {
    display: none;
  }
}

.soft-container {
  width: 100%;
  height: 50%;
}
.soft-container:first-child {
  font-family: "TT Lakes-Medium";
  margin-left: 16px;
  margin-top: 16px;
}
.soft-container:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 16px;
}

.soft--button-full-discription {
  margin: 16px 16px 0 16px;
}

.by-price {
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: #f8f8f8;
}
@media (min-width: 768px) {
  .by-price {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.by-price__header {
  font-family: "TT Lakes-Normal";
  font-size: 16px;
  text-transform: uppercase;
  color: #7E7E82;
  margin-bottom: 32px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .by-price__header {
    margin-bottom: 40px;
  }
}

.price-table {
  margin-left: 16px;
  margin-right: 16px;
  background-color: #ffffff;
}

.table__point {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: "TT Lakes-Medium";
}

.table__list {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: "TT Lakes-Normal";
}

.item-point--wrapper:first-child {
  width: calc(55% - 16px);
  margin-left: 16px;
}

.item-point--wrapper:nth-child(4) {
  justify-content: right;
  margin-right: 16px;
}

.item-point--wrapper {
  width: 15%;
  border-bottom: 1px solid #EAEAEA;
}

.item--color {
  color: #7E7E82;
}

.item--height {
  height: 63px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.price--order {
  width: 120px;
  height: 32px;
  background-color: #FF3E79;
  border: 0.2px solid #FF3E79;
  border-radius: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "TT Lakes-Bold";
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price--order:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.8 5 .792 2.229A1 1 0 0 1 .785.764L.92.637A1 1 0 0 1 2.284.633l4.654 4.31a.078.078 0 0 1 0 .114L2.347 9.31A1.092 1.092 0 1 1 .865 7.704L3.8 5Z' fill='%23fff'/%3E%3C/svg%3E");
  width: 7px;
  height: 10px;
}

@media (max-width: 768px) {
  .by-own {
    width: 80%;
  }
}

.by-price-own {
  width: 420px;
  margin-left: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  font-family: "TT Lakes-Normal";
}
@media (max-width: 768px) {
  .by-price-own {
    width: 90%;
  }
}

.price-own__button {
  margin-left: 16px;
  font-size: 16px;
  font-family: "TT Lakes-Medium";
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}
@media (max-width: 768px) {
  .price-own__button {
    width: 80%;
  }
}

.price-own__button:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M.294 8.236a1 1 0 0 0 0 1.407l.046.047a1 1 0 0 0 1.422 0l3.944-3.987a1 1 0 0 0 0-1.406L1.762.31A1 1 0 0 0 .34.31L.294.358a1 1 0 0 0 0 1.406L3.496 5 .294 8.236Z' fill='%23FF3E79'/%3E%3C/svg%3E");
  width: 6px;
  height: 10px;
  background-position: center;
  margin-left: 10px;
}
@media (max-width: 768px) {
  .price-own__button:after {
    width: 0.4rem;
  }
}
@media (max-width: 370px) {
  .price-own__button:after {
    width: 0.5rem;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

.licence {
  text-align: end;
  font-family: "TT Lakes-Medium";
  color: #7E7E82;
  font-size: 14px;
  margin-bottom: 20px;
}
.licence:first-child {
  text-align: start;
}
@media (max-width: 900px) {
  .licence:last-child {
    width: 35%;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .licence.licence--pos {
    width: 75%;
    text-align: center;
  }
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  transition: transform 1.5s;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .menu {
    display: block;
    position: absolute;
    background-color: #ffffff;
    transform: translate(-100vw);
  }
}
@media (min-width: 768px) and (max-width: 1439.98px) {
  .menu {
    display: block;
    position: absolute;
    background-color: #ffffff;
    transform: translate(-360px);
    width: 360px;
  }
}
@media (min-width: 1440px) {
  .menu {
    width: 320px;
    transform: translate(0px);
  }
}

.menu__wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 11vh;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8px 0 8px;
  width: 100vw;
  height: 88px;
}

.menu__nav {
  min-height: 60vh;
}

.left__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list--normal {
  padding: 0;
  margin-top: 0;
}

.item {
  font-family: "TT Lakes-Medium";
  margin-bottom: 24px;
  margin-left: 16px;
  list-style: none;
  height: 32px;
  display: flex;
  align-items: center;
}

.item:hover {
  filter: blur(2px);
  color: black;
}

.item--active {
  color: #7E7E82;
  margin-left: 0;
}

.item--active::before {
  content: "";
  width: 2px;
  height: 32px;
  margin-right: 14px;
  background-color: #41F6D7;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.menu__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 29vh;
  margin-left: 8px;
}

.panel__mail {
  margin-left: 8px;
  margin-top: 16px;
}

.panel__link {
  text-decoration: none;
  color: black;
}

.tel--link {
  font-family: "TT Lakes-Bold";
  font-size: 1.2em;
}

.language-bar {
  margin-top: 50px;
  margin-left: 8px;
  margin-bottom: 20px;
  display: flex;
  list-style: none;
}

.language-bar__item {
  margin-right: 7px;
  font-family: "TT Lakes-Medium";
  border: 0;
  background-color: inherit;
  font-size: 16px;
  padding: 0;
}

.language-bar__item--active {
  color: #7E7E82;
}

.mail--link {
  font-family: "TT Lakes-Medium";
}

@media (min-width: 1440px) {
  .icon-burger-cancel {
    display: none;
  }
}

.modal-feedback {
  display: block;
  position: relative;
  background-color: #ffffff;
  width: 440px;
  height: 100vh;
  border-left: 0.5px solid #eaeaea;
}

.icon-burger-cancel.icon--decor.icon-modal-cancel {
  display: block;
  margin-top: 36px;
  margin-right: 32px;
}

.modal-feedback-cancel {
  display: block;
  width: 72px;
  height: 100vh;
}

.modal__header {
  margin-top: 40px;
}

.is-header.is-header--modal {
  font-size: 24px;
  display: none;
}
@media (min-width: 1439.98px) {
  .is-header.is-header--modal::before {
    margin-right: 14px;
  }
}

.form-feedback {
  display: flex;
  flex-direction: column;
}

.place-form {
  font-family: "TT Lakes-Medium";
  font-size: 16px;
  width: 376px;
  height: 48px;
  margin: 0 16px 16px 16px;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  padding-left: 16px;
}

.tel-form {
  display: none;
}

.place-form--send {
  height: 118px;
  padding-top: 12px;
}

.place-form::-moz-placeholder {
  color: #B5B6BC;
}

.place-form:-ms-input-placeholder {
  color: #B5B6BC;
}

.place-form::placeholder {
  color: #B5B6BC;
}

@font-face {
  font-family: "TT Lakes-Bold";
  src: url(../../font/TTLakes-Bold.ttf);
}
@font-face {
  font-family: "TT Lakes-Normal";
  src: url(../../font/TTLakes-Regular.ttf);
}
@font-face {
  font-family: "TT Lakes-Medium";
  src: url(../../font/TTLakes-Medium.ttf);
}
body {
  margin: 0;
  background-color: #f8f8f8;
  display: flex;
}

.wrapper-right-main {
  width: 100vw;
}

.wrapper-right-modal {
  width: 512px;
  display: flex;
  position: fixed;
  left: 100%;
  transform: translate(0px);
  transition: transform 1.5s;
}/*# sourceMappingURL=assembly.css.map */