.by-price-own {
    width: 420px;
    margin-left: $margin16;
    margin-bottom: $margin16;
    font-size: 14px;
    font-family: 'TT Lakes-Normal';
}

.price-own__button {
    margin-left: $margin16;
    font-size: 16px;
    font-family: 'TT Lakes-Medium';
    letter-spacing: -0.2px;
}