.by-price {
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #f8f8f8;

    @media (min-width: 768px) {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.by-price__header {
    font-family: 'TT Lakes-Normal';
    font-size: 16px;
    text-transform: uppercase;
    color: #7E7E82;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.price-table {
    margin-left: $margin16;
    margin-right: $margin16;
    background-color: #ffffff;
}

.table__point {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'TT Lakes-Medium';
}

.table__list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'TT Lakes-Normal';
}

.item-point--wrapper:first-child {
    width: calc(55% - $margin16);
    margin-left: $margin16;
}

.item-point--wrapper:nth-child(4) {
    justify-content: right;
    margin-right: $margin16;
}

.item-point--wrapper {
    width: 15%;
    border-bottom: 1px solid #EAEAEA;
}

.item--color {
    color: #7E7E82;
}

.item--height {
    height: 63px;
    @include flex($flex, $just-con);
}

.price--order {
    width: 120px;
    height: 32px;
    background-color: #FF3E79;
    border: 0.2px solid #FF3E79;
    border-radius: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'TT Lakes-Bold';
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.price--order:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.8 5 .792 2.229A1 1 0 0 1 .785.764L.92.637A1 1 0 0 1 2.284.633l4.654 4.31a.078.078 0 0 1 0 .114L2.347 9.31A1.092 1.092 0 1 1 .865 7.704L3.8 5Z' fill='%23fff'/%3E%3C/svg%3E");
    width: 7px;
    height: 10px;
}