.by-price {
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #f8f8f8;

    @media (min-width: 768px) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.by-price__header {
    font-family: 'TT Lakes-Normal';
    font-size: 16px;
    text-transform: uppercase;
    color: #7E7E82;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;

    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
}

.price-table {
    margin-left: $margin16;
    margin-right: $margin16;
    background-color: #ffffff;
}

.table__point {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'TT Lakes-Medium';
}
.table__list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: 'TT Lakes-Normal';
}

.item-point--wrapper:first-child {
    width: calc(40% - $margin16);
    margin-left: $margin16;
}

.item-point--wrapper:nth-child(4) {
    justify-content: right;
    margin-right: $margin16;
}

.item-point--wrapper {
    width: 20%;
    border-bottom: 1px solid #EAEAEA;
}

.item--color {
    color: #7E7E82;
}

.item--height {
    height: 63px;
    @include flex($flex, $just-con);
}